*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    font-size: 15px;
}
body
{
    font-family: 'KoHo', sans-serif;
    font-size: 1.6rem;
    background-color: #5c5e68bb !important;
    background-image: url(Resimler/İstanbul.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header img
{ 
    float: left;
    width: 12.5%;
    height: 8rem; 
}
img.baslik
{
    width: 100%;
    height: auto;
    float: left;
}
.clear
{ 
    clear: both;
}
header
{
    width: 100%;
    font-size: 1.6rem;
    text-align: center;
    background-color: #000000;
}
 a.baslik
 {
    padding: 2rem;
    text-decoration: none;
    color: rgb(242, 242, 242);
    transition: all .4s;
 }
 a.baslik:hover
 {
    color: #18bc9c;
 }
h2
{
    text-align: center;
}
.film
{
    font-size: larger;
    margin: 10rem 30rem 10rem;
    background-color: rgb(44, 62, 80, 0.75);
    padding: 4rem;
    border-radius: 1rem;
    color: bisque;
}
.resim
{
    margin: 0 auto;
    display: block;
    width: 50%;
    height: auto;
}
.image
{
    padding: 1rem;
    max-width: 100%;
    height: auto;
}


.content {
    background-color: rgb(234, 234, 234, 0.75);
    margin: 10rem 20rem 10rem;
    padding: 3rem;
    border-radius: 1rem;
}

.resim {
    width: 80%; 
    height: auto;
    margin-top: 10px; 
}

footer {
    padding: 0.25rem;
    background-color: #090b0d;
    text-align: center;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
/* login formu stili */
#login-section {
    background-color: rgba(234, 234, 234, 0.75); /* Beyaz arka plan, yarı saydam */
    margin: 10rem 20rem 10rem;
    padding: 3rem;
    border-radius: 1rem;
}

#login-form div {
    margin-bottom: 1.5rem; /* Giriş alanları arasında boşluk */
}

#login-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333; /* Yazı rengi */
}

#login-form input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    font-size: 1rem;
}

#login-form button {
    display: block;
    width: 50%;
    padding: 1rem;
    background-color: #18bc9c;
    color: white;
    border: none;
    border-radius: 0.4rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


#login-form button:hover {
    background-color: #138f75;
}

#login-message {
    margin-top: 1rem;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}
